global
  maxconn 100

defaults
  mode tcp
  timeout connect 10s
  timeout client 10m
  timeout server 10m

frontend postgres
  bind *:5000
  default_backend postgres_primary

backend postgres_primary
  option httpchk GET /primary
  http-check expect status 200
  default-server inter 2s fall 3 rise 1 on-marked-down shutdown-sessions
  server pg-node1 pg-node1:5432 maxconn 100 check port 8008
  server pg-node2 pg-node2:5432 maxconn 100 check port 8008
  server pg-node3 pg-node3:5432 maxconn 100 check port 8008

frontend stats
  bind *:7000
  mode http
  stats enable
  stats uri /
